<launch>

    <arg name="project" default="lvi_sam_localization"/>
    
    <!-- Parameters -->
    <rosparam file="$(find lvi_sam_localization)/config/m2dgr/params_lidar.yaml" command="load"/>
    <rosparam file="$(find lvi_sam_localization)/config/m2dgr/params_camera.yaml" command="load"/>
    <rosparam file="$(find lvi_sam_localization)/config/m2dgr/params_function.yaml" command="load"/>

    <node pkg="$(arg project)" type="buildBinaryMap" name="buildBinaryMap" output="screen" respawn="true"/>

</launch>